html{
	height: 100%;
}

header{
	background-color: #222;
   	height:50px;
    width:960px;
    margin:0px auto;
}

section{
	padding-bottom: 352px;
}

footer {
	background-color: #222;
    width: 100%;
	bottom: 0;
	position: absolute;
}

footer .copyright{
	color: #fff;
    line-height: 40px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    align: center;
}

a .btn, .btn-block, .btn-social-icon, .btn-lg, .btn-github{
	width: 24px;
	margin: auto;
    padding: 10px;
}

.navbar-black{
	background-color: #222;
    padding: 10px 0;
}

.navbar-default .navbar-nav>.active>a,
 .navbar-default .navbar-nav>.active>a:focus, 
 .navbar-default .navbar-nav>.active>a:hover{
	color: #fed136;
    outline: 0;
    background-color: #222;
}

.navbar-default .navbar-nav>.active>a{
	color: #fff;
	background-color: #222;	
}