<div>
	<h2>Nova</h2>
	<div>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="taskName" class="col-sm-2 control-label">Nome: </label>
				<div class="col-sm-4">
					<input class="form-control" id="taskName" placeholder="Atividade">
				</div>
			</div>
			<div class="form-group">
				<label for="taskDescription" class="col-sm-2 control-label">Descrição: </label>
				<div class="col-sm-4">
					<input class="form-control" id="taskDescription" placeholder="Descrição">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label>
							<input type="checkbox"> Prioridade
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>