<div>
	<h1>Tarefas</h1>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th>Nome</th>
					<th>Descrição</th>
					<th>Data</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tasks in vm.taskList">
					<td>{{tasks.id}}</td>
					<td>{{tasks.name}}</td>
					<td>{{tasks.description}}</td>
					<td>{{tasks.dateCreated | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
					<td><a class="btn" ng-click="vm.deleteTask($index)">
							<i class="fa fa-trash-o"></i>
						</a>
						<a class="btn" ui-sref="tasks.create({id: tasks.id})" >
							<i class="fa fa-edit"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
